.offer-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.offer-item {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 30%;
}

.offer-item h3 {
  font-size: 22px;
  color: #2d89e5;
  margin-bottom: 15px;
}

.offer-item p, .offer-item ul {
  font-size: 16px;
  line-height: 1.6;
}

.offer-item ul {
  list-style-type: square;
  padding-left: 20px;
}
